# Trying out YF and boceteando cosas
## DAOA - 12/08/2025

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt

In [2]:
big_tech = {
    "AAPL": "Apple Inc.",
    "MSFT": "Microsoft Corporation", 
    "GOOGL": "Alphabet Inc. (Google) - Class A",
    "GOOG": "Alphabet Inc. (Google) - Class C",
    "TSLA": "Tesla Inc.",
    "AMZN": "Amazon.com Inc.",
    "META": "Meta Platforms Inc. (Facebook)",
    "NVDA": "NVIDIA Corporation", 
    "PYPL": "PayPal Holdings",
    "UBER": "Uber Technologies",
    "NFLX": "Netflix Inc.",
    "ORCL": "Oracle Corporation",
    "CRM": "Salesforce Inc.",
    "ADBE": "Adobe Inc.",
    "INTC": "Intel Corporation",
    "AMD": "Advanced Micro Devices",
    "CSCO": "Cisco Systems Inc.",
    "IBM": "International Business Machines",
    "QCOM": "QUALCOMM Incorporated",
    "TXN": "Texas Instruments",
    "AVGO": "Broadcom Inc.",
    "NOW": "ServiceNow Inc."
}

In [3]:
## My Ideas

stock_df = pd.DataFrame()

for i in big_tech.keys():
    tmp_ticker = yf.Ticker(i)
    tmp_hist = tmp_ticker.history(period='max', interval='1d')
    tmp_df = pd.DataFrame({'Stock': np.repeat(i, len(tmp_hist)), 
    'Open': tmp_hist['Open'], 
    'Close': tmp_hist['Close'], 
    'Volume': tmp_hist['Volume']
    })

    stock_df = pd.concat([stock_df, tmp_df], ignore_index=True) 
    

stock_df['Change'] = ((stock_df['Open'] - stock_df['Close'])/stock_df['Open']) * 100
stock_df['Volatility'] = (stock_df['Change'] / stock_df['Volume'])

In [4]:
stock_df['Change'] = ((stock_df['Open'] - stock_df['Close'])/stock_df['Open']) * 100
stock_df['Volatility'] = (stock_df['Change'] / stock_df['Volume'])

In [5]:
stock_df

       Stock        Open       Close     Volume    Change    Volatility
0       AAPL    0.098485    0.098485  469033600  0.000000  0.000000e+00
1       AAPL    0.093775    0.093347  175884800  0.456594  2.595984e-09
2       AAPL    0.086924    0.086495  105728000  0.492577  4.658909e-09
3       AAPL    0.088636    0.088636   86441600  0.000000  0.000000e+00
4       AAPL    0.091206    0.091206   73449600  0.000000  0.000000e+00
...      ...         ...         ...        ...       ...           ...
164893   NOW  851.770020  867.239990    1758800 -1.816215 -1.032644e-06
164894   NOW  866.450012  892.049988    2577400 -2.954582 -1.146342e-06
164895   NOW  893.400024  886.780029    2184200  0.740989  3.392496e-07
164896   NOW  884.260010  890.250000    1971100 -0.677401 -3.436667e-07
164897   NOW  885.929993  879.580017     678537  0.716758  1.056329e-06

[164898 rows x 6 columns]

In [6]:
# Claude's ideas:
stock_df = pd.DataFrame()

for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    hist = ticker.history(period='max', interval='1d')
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    stock_df = pd.concat([stock_df, tmp_df], ignore_index=True)

# Better calculations
stock_df['Daily_Change'] = ((stock_df['Close'] - stock_df['Open']) / stock_df['Open']) * 100
stock_df['Daily_Range'] = ((stock_df['High'] - stock_df['Low']) / stock_df['Open']) * 100
print('Done')

Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done

In [7]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449
...,...,...,...,...,...,...,...,...,...
164893,NOW,2025-08-15 00:00:00-04:00,851.770020,867.940002,848.619995,867.239990,1758800,1.816215,2.268219
164894,NOW,2025-08-18 00:00:00-04:00,866.450012,892.239990,865.369995,892.049988,2577400,2.954582,3.101159
164895,NOW,2025-08-19 00:00:00-04:00,893.400024,900.909973,880.960022,886.780029,2184200,-0.740989,2.233037
164896,NOW,2025-08-20 00:00:00-04:00,884.260010,898.890015,880.000000,890.250000,1971100,0.677401,2.136251
164897,NOW,2025-08-21 00:00:00-04:00,885.929993,886.934998,873.075012,879.580017,678787,-0.716758,1.564456

In [8]:
stock_df.isnull().sum()

Stock           0
Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Daily_Change    0
Daily_Range     0
dtype: int64

In [9]:
null_summary = stock_df.groupby('Stock')[['Date','Open', 'High', 'Low', 'Close', 'Volume', 'Daily_Change', 'Daily_Range']].apply(lambda x: x.isnull().sum())
print("\nNull counts by stock (clean):")
print(null_summary)

Null counts by stock (clean):
       Date  Open  High  Low  Close  Volume  Daily_Change  Daily_Range
Stock
AAPL      0     0     0    0      0       0             0            0
ADBE      0     0     0    0      0       0             0            0
AMD       0     0     0    0      0       0             0            0
AMZN      0     0     0    0      0       0             0            0
AVGO      0     0     0    0      0       0             0            0
CRM       0     0     0    0      0       0             0            0
CSCO      0     0     0    0      0       0             0            0
GOOG      0     0     0    0      0       0             0            0
GOOGL     0     0     0    0      0       0             0            0
IBM       0     0     0    0      0       0             0            0
INTC      0     0     0    0      0       0             0            0
META      0     0     0    0      0       0             0            0
MSFT      0     0     0    0      0       0             0            0
NFLX      0     0     0    0      0       0             0            0
NOW       0     0     0    0      0       0             0            0
NVDA      0     0     0    0      0       0             0            0
ORCL      0     0     0    0      0       0             0            0
PYPL      0     0     0    0      0       0             0            0
QCOM      0     0     0    0      0       0             0            0
TSLA      0     0     0    0      0       0             0            0
TXN       0     0     0    0      0       0             0            0
UBER      0     0     0    0      0       0             0            0

In [10]:
## Checking empty dates
# test_date = aapl_ticker.history(period = 'max', interval = '1d')

In [11]:
#test_date[test_date.index.isnull()]
# Fixed

In [12]:
# Calculate rolling volatility (standard approach), CLAUDE 20 day volatility
stock_df = stock_df.sort_values(['Stock', 'Date'])

In [13]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449
...,...,...,...,...,...,...,...,...,...
56841,UBER,2025-08-15 00:00:00-04:00,91.650002,93.900002,90.860001,92.599998,15841800,1.036549,3.316968
56842,UBER,2025-08-18 00:00:00-04:00,92.220001,94.400002,91.889999,93.980003,16471300,1.908482,2.721755
56843,UBER,2025-08-19 00:00:00-04:00,94.000000,96.595001,93.849998,95.320000,21177300,1.404255,2.920216
56844,UBER,2025-08-20 00:00:00-04:00,94.830002,94.959999,91.440002,93.730003,15180500,-1.159969,3.711902
56845,UBER,2025-08-21 00:00:00-04:00,93.620003,94.379997,92.820000,93.970001,7110232,0.373850,1.666308

In [14]:

stock_df['Daily_Return'] = stock_df.groupby('Stock')['Close'].pct_change() * 100

In [15]:
# Then calculate rolling volatility using transform
stock_df['Volatility_20d'] = stock_df.groupby('Stock')['Daily_Return'].transform(
    lambda x: x.rolling(window=20, min_periods=5).std()
)

In [16]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758,NaN,NaN
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594,-5.217020,NaN
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577,-7.339808,NaN
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066,2.475138,NaN
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449,2.899209,NaN
...,...,...,...,...,...,...,...,...,...,...,...
56841,UBER,2025-08-15 00:00:00-04:00,91.650002,93.900002,90.860001,92.599998,15841800,1.036549,3.316968,1.312907,1.763635
56842,UBER,2025-08-18 00:00:00-04:00,92.220001,94.400002,91.889999,93.980003,16471300,1.908482,2.721755,1.490286,1.786957
56843,UBER,2025-08-19 00:00:00-04:00,94.000000,96.595001,93.849998,95.320000,21177300,1.404255,2.920216,1.425831,1.805737
56844,UBER,2025-08-20 00:00:00-04:00,94.830002,94.959999,91.440002,93.730003,15180500,-1.159969,3.711902,-1.668062,1.784809
56845,UBER,2025-08-21 00:00:00-04:00,93.620003,94.379997,92.820000,93.970001,7110232,0.373850,1.666308,0.256052,1.774624

In [17]:
# Now hourly data
day_df = pd.DataFrame()
hour_df = pd.DataFrame()


for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    hist = ticker.history(period='1d',  interval="60m")
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    day_df = pd.concat([day_df, tmp_df], ignore_index=True)
print('Done')


for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    # Get today in 5 minute intervals
    hist = ticker.history(period='1d',  interval="5m")
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    hour_df = pd.concat([hour_df, tmp_df], ignore_index=True)
print('Done')

# Filter such as to get only the last hour
now = dt.datetime.now(dt.timezone(dt.timedelta(hours=-4)))  # Adjust for your timezone if you want
current_hour_start = now.replace(minute=0, second=0, microsecond=0)
hour_df = hour_df[(hour_df['Date'] >= current_hour_start) & (hour_df['Date'] < current_hour_start + dt.timedelta(hours=1))]


def calculate_metrics(df):
    """Clean function to calculate all metrics"""
    df = df.sort_values(['Stock', 'Date']).copy()
    
    # Basic calculations
    df['Daily_Change'] = ((df['Close'] - df['Open']) / df['Open']) * 100
    df['Daily_Range'] = ((df['High'] - df['Low']) / df['Open']) * 100
    
    # Returns and volatility
    df['Daily_Return'] = df.groupby('Stock')['Close'].pct_change() * 100
    df['Volatility_20d'] = df.groupby('Stock')['Daily_Return'].transform(
        lambda x: x.rolling(20, min_periods=5).std()
    )
    
    return df

day_df = calculate_metrics(day_df)
hour_df = calculate_metrics(hour_df)

Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done
Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done

In [18]:
day_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
0,AAPL,2025-08-21 09:30:00-04:00,226.279999,226.520004,224.679993,225.579895,6246020,-0.309397,0.813157,NaN,NaN
1,AAPL,2025-08-21 10:30:00-04:00,225.527298,225.585007,224.510101,225.130005,3627965,-0.176162,0.476619,-0.199437,NaN
2,AAPL,2025-08-21 11:30:00-04:00,225.134995,225.839996,224.800003,224.830002,2756586,-0.135471,0.461942,-0.133258,NaN
3,AAPL,2025-08-21 12:30:00-04:00,224.830002,225.009995,223.780396,224.175003,3327885,-0.291331,0.546902,-0.291331,NaN
4,AAPL,2025-08-21 13:30:00-04:00,224.170807,224.778503,224.160004,224.229996,2428717,0.026403,0.275906,0.024531,NaN
...,...,...,...,...,...,...,...,...,...,...,...
55,UBER,2025-08-21 10:30:00-04:00,93.269997,93.675003,92.919998,93.430000,1538660,0.171549,0.809483,0.182284,NaN
56,UBER,2025-08-21 11:30:00-04:00,93.440002,93.629997,92.809998,93.250000,1033273,-0.203342,0.877568,-0.192658,NaN
57,UBER,2025-08-21 12:30:00-04:00,93.239998,93.370003,93.000000,93.120003,713375,-0.128695,0.396828,-0.139407,NaN
58,UBER,2025-08-21 13:30:00-04:00,93.118401,94.199997,93.110001,93.893997,1388975,0.832914,1.170549,0.831180,NaN
59,UBER,2025-08-21 14:30:00-04:00,93.900002,94.015404,93.790001,94.000000,412920,0.106495,0.240046,0.112896,0.408413

In [19]:
hour_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
54,AAPL,2025-08-21 14:00:00-04:00,224.550003,224.559998,224.410004,224.479996,205436,-0.031177,0.066798,NaN,NaN
55,AAPL,2025-08-21 14:05:00-04:00,224.470001,224.529999,224.369995,224.419998,160743,-0.022276,0.071281,-0.026727,NaN
56,AAPL,2025-08-21 14:10:00-04:00,224.419998,224.535004,224.339996,224.490005,173359,0.031195,0.086894,0.031195,NaN
57,AAPL,2025-08-21 14:15:00-04:00,224.460007,224.589996,224.410004,224.544998,168343,0.037865,0.080189,0.024497,NaN
58,AAPL,2025-08-21 14:20:00-04:00,224.557205,224.559998,224.345398,224.428406,171782,-0.057357,0.095566,-0.051924,NaN
...,...,...,...,...,...,...,...,...,...,...,...
655,UBER,2025-08-21 14:35:00-04:00,93.889999,93.989998,93.875000,93.964996,79357,0.079877,0.122481,0.079877,0.127364
656,UBER,2025-08-21 14:40:00-04:00,93.949997,93.989998,93.879997,93.879997,37182,-0.074507,0.117084,-0.090458,0.122397
657,UBER,2025-08-21 14:45:00-04:00,93.870003,93.879997,93.790001,93.845001,81419,-0.026634,0.095873,-0.037277,0.114872
658,UBER,2025-08-21 14:50:00-04:00,93.860001,94.015404,93.860001,93.970001,73185,0.117196,0.165569,0.133198,0.117679
659,UBER,2025-08-21 14:55:00-04:00,93.959999,94.000000,93.849998,94.000000,54950,0.042572,0.159644,0.031924,0.111999

## Summary: 

* **stock_df**: Gets historical data, to be run only once for the max daily period of the stocks. 
* **day_df**: Gets the hourly data from opening to close of the markets, to be run N hours of the day. In the last hour it must load the closing values to the historical to add the day. 
* **hour_df**: Filters today to get the last hour and get 5 minute intervals.

In [20]:
## How to integrate each into a script, this is what is to be figured out now.

In [31]:
day_df.dtypes

Stock                                       object
Date              datetime64[ns, America/New_York]
Open                                       float64
High                                       float64
Low                                        float64
Close                                      float64
Volume                                       int64
Daily_Change                               float64
Daily_Range                                float64
Daily_Return                               float64
Volatility_20d                             float64
dtype: object

In [21]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758,NaN,NaN
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594,-5.217020,NaN
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577,-7.339808,NaN
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066,2.475138,NaN
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449,2.899209,NaN
...,...,...,...,...,...,...,...,...,...,...,...
56841,UBER,2025-08-15 00:00:00-04:00,91.650002,93.900002,90.860001,92.599998,15841800,1.036549,3.316968,1.312907,1.763635
56842,UBER,2025-08-18 00:00:00-04:00,92.220001,94.400002,91.889999,93.980003,16471300,1.908482,2.721755,1.490286,1.786957
56843,UBER,2025-08-19 00:00:00-04:00,94.000000,96.595001,93.849998,95.320000,21177300,1.404255,2.920216,1.425831,1.805737
56844,UBER,2025-08-20 00:00:00-04:00,94.830002,94.959999,91.440002,93.730003,15180500,-1.159969,3.711902,-1.668062,1.784809
56845,UBER,2025-08-21 00:00:00-04:00,93.620003,94.379997,92.820000,93.970001,7110232,0.373850,1.666308,0.256052,1.774624