# Trying out YF and boceteando cosas
## DAOA - 12/08/2025

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt

In [2]:
big_tech = {
    "AAPL": "Apple Inc.",
    "MSFT": "Microsoft Corporation", 
    "GOOGL": "Alphabet Inc. (Google) - Class A",
    "GOOG": "Alphabet Inc. (Google) - Class C",
    "TSLA": "Tesla Inc.",
    "AMZN": "Amazon.com Inc.",
    "META": "Meta Platforms Inc. (Facebook)",
    "NVDA": "NVIDIA Corporation", 
    "PYPL": "PayPal Holdings",
    "UBER": "Uber Technologies",
    "NFLX": "Netflix Inc.",
    "ORCL": "Oracle Corporation",
    "CRM": "Salesforce Inc.",
    "ADBE": "Adobe Inc.",
    "INTC": "Intel Corporation",
    "AMD": "Advanced Micro Devices",
    "CSCO": "Cisco Systems Inc.",
    "IBM": "International Business Machines",
    "QCOM": "QUALCOMM Incorporated",
    "TXN": "Texas Instruments",
    "AVGO": "Broadcom Inc.",
    "NOW": "ServiceNow Inc."
}

In [3]:
## My Ideas

stock_df = pd.DataFrame()

for i in big_tech.keys():
    tmp_ticker = yf.Ticker(i)
    tmp_hist = tmp_ticker.history(period='max', interval='1d')
    tmp_df = pd.DataFrame({'Stock': np.repeat(i, len(tmp_hist)), 
    'Open': tmp_hist['Open'], 
    'Close': tmp_hist['Close'], 
    'Volume': tmp_hist['Volume']
    })

    stock_df = pd.concat([stock_df, tmp_df], ignore_index=True) 
    

stock_df['Change'] = ((stock_df['Open'] - stock_df['Close'])/stock_df['Open']) * 100
stock_df['Volatility'] = (stock_df['Change'] / stock_df['Volume'])

In [4]:
stock_df['Change'] = ((stock_df['Open'] - stock_df['Close'])/stock_df['Open']) * 100
stock_df['Volatility'] = (stock_df['Change'] / stock_df['Volume'])

In [5]:
stock_df

       Stock        Open       Close     Volume    Change    Volatility
0       AAPL    0.098485    0.098485  469033600  0.000000  0.000000e+00
1       AAPL    0.093775    0.093347  175884800  0.456594  2.595984e-09
2       AAPL    0.086924    0.086495  105728000  0.492577  4.658909e-09
3       AAPL    0.088636    0.088636   86441600  0.000000  0.000000e+00
4       AAPL    0.091206    0.091206   73449600  0.000000  0.000000e+00
...      ...         ...         ...        ...       ...           ...
164828   NOW  857.809998  853.429993    2865800  0.510603  1.781712e-07
164829   NOW  860.570007  863.299988    2453600 -0.317229 -1.292914e-07
164830   NOW  856.159973  850.859985    1787900  0.619042  3.462396e-07
164831   NOW  851.770020  867.239990    1758800 -1.816215 -1.032644e-06
164832   NOW  866.450012  892.049988    2575500 -2.954582 -1.147188e-06

[164833 rows x 6 columns]

In [6]:
# Claude's ideas:
stock_df = pd.DataFrame()

for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    hist = ticker.history(period='max', interval='1d')
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    stock_df = pd.concat([stock_df, tmp_df], ignore_index=True)

# Better calculations
stock_df['Daily_Change'] = ((stock_df['Close'] - stock_df['Open']) / stock_df['Open']) * 100
stock_df['Daily_Range'] = ((stock_df['High'] - stock_df['Low']) / stock_df['Open']) * 100
print('Done')

Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done

In [7]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449
...,...,...,...,...,...,...,...,...,...
164828,NOW,2025-08-12 00:00:00-04:00,857.809998,859.729980,840.030029,853.429993,2865800,-0.510603,2.296540
164829,NOW,2025-08-13 00:00:00-04:00,860.570007,864.400024,842.700012,863.299988,2453600,0.317229,2.521586
164830,NOW,2025-08-14 00:00:00-04:00,856.159973,862.979980,846.340027,850.859985,1787900,-0.619042,1.943557
164831,NOW,2025-08-15 00:00:00-04:00,851.770020,867.940002,848.619995,867.239990,1758800,1.816215,2.268219
164832,NOW,2025-08-18 00:00:00-04:00,866.450012,892.239990,865.369995,892.049988,2575500,2.954582,3.101159

In [8]:
stock_df.isnull().sum()

Stock           0
Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Daily_Change    0
Daily_Range     0
dtype: int64

In [9]:
null_summary = stock_df.groupby('Stock')[['Date','Open', 'High', 'Low', 'Close', 'Volume', 'Daily_Change', 'Daily_Range']].apply(lambda x: x.isnull().sum())
print("\nNull counts by stock (clean):")
print(null_summary)

Null counts by stock (clean):
       Date  Open  High  Low  Close  Volume  Daily_Change  Daily_Range
Stock
AAPL      0     0     0    0      0       0             0            0
ADBE      0     0     0    0      0       0             0            0
AMD       0     0     0    0      0       0             0            0
AMZN      0     0     0    0      0       0             0            0
AVGO      0     0     0    0      0       0             0            0
CRM       0     0     0    0      0       0             0            0
CSCO      0     0     0    0      0       0             0            0
GOOG      0     0     0    0      0       0             0            0
GOOGL     0     0     0    0      0       0             0            0
IBM       0     0     0    0      0       0             0            0
INTC      0     0     0    0      0       0             0            0
META      0     0     0    0      0       0             0            0
MSFT      0     0     0    0      0       0             0            0
NFLX      0     0     0    0      0       0             0            0
NOW       0     0     0    0      0       0             0            0
NVDA      0     0     0    0      0       0             0            0
ORCL      0     0     0    0      0       0             0            0
PYPL      0     0     0    0      0       0             0            0
QCOM      0     0     0    0      0       0             0            0
TSLA      0     0     0    0      0       0             0            0
TXN       0     0     0    0      0       0             0            0
UBER      0     0     0    0      0       0             0            0

In [11]:
## Checking empty dates
# test_date = aapl_ticker.history(period = 'max', interval = '1d')

In [13]:
#test_date[test_date.index.isnull()]
# Fixed

In [14]:
# Calculate rolling volatility (standard approach), CLAUDE 20 day volatility
stock_df = stock_df.sort_values(['Stock', 'Date'])

In [15]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449
...,...,...,...,...,...,...,...,...,...
56812,UBER,2025-08-12 00:00:00-04:00,91.190002,92.555000,91.139999,91.730003,12509000,0.592171,1.551706
56813,UBER,2025-08-13 00:00:00-04:00,92.050003,92.199997,89.910004,90.830002,16867300,-1.325368,2.487771
56814,UBER,2025-08-14 00:00:00-04:00,90.349998,92.320000,90.105003,91.400002,14525100,1.162151,2.451573
56815,UBER,2025-08-15 00:00:00-04:00,91.650002,93.900002,90.860001,92.599998,15841800,1.036549,3.316968
56816,UBER,2025-08-18 00:00:00-04:00,92.220001,94.400002,91.889999,93.980003,16459500,1.908482,2.721755

In [16]:

stock_df['Daily_Return'] = stock_df.groupby('Stock')['Close'].pct_change() * 100

In [17]:
# Then calculate rolling volatility using transform
stock_df['Volatility_20d'] = stock_df.groupby('Stock')['Daily_Return'].transform(
    lambda x: x.rolling(window=20, min_periods=5).std()
)

In [18]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758,NaN,NaN
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594,-5.217108,NaN
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577,-7.339772,NaN
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066,2.475147,NaN
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449,2.899200,NaN
...,...,...,...,...,...,...,...,...,...,...,...
56812,UBER,2025-08-12 00:00:00-04:00,91.190002,92.555000,91.139999,91.730003,12509000,0.592171,1.551706,1.269598,1.760958
56813,UBER,2025-08-13 00:00:00-04:00,92.050003,92.199997,89.910004,90.830002,16867300,-1.325368,2.487771,-0.981142,1.737658
56814,UBER,2025-08-14 00:00:00-04:00,90.349998,92.320000,90.105003,91.400002,14525100,1.162151,2.451573,0.627546,1.741336
56815,UBER,2025-08-15 00:00:00-04:00,91.650002,93.900002,90.860001,92.599998,15841800,1.036549,3.316968,1.312907,1.763635
56816,UBER,2025-08-18 00:00:00-04:00,92.220001,94.400002,91.889999,93.980003,16459500,1.908482,2.721755,1.490286,1.786957

In [ ]:
# Now hourly data
day_df = pd.DataFrame()
hour_df = pd.DataFrame()


for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    hist = ticker.history(period='1d',  interval="60m")
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    day_df = pd.concat([day_df, tmp_df], ignore_index=True)
print('Done')


for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    # Get today in 5 minute intervals
    hist = ticker.history(period='1d',  interval="5m")
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    hour_df = pd.concat([hour_df, tmp_df], ignore_index=True)
print('Done')

# Filter such as to get only the last hour
now = dt.datetime.now(dt.timezone(dt.timedelta(hours=-4)))  # Adjust for your timezone if you want
current_hour_start = now.replace(minute=0, second=0, microsecond=0)
hour_df = hour_df[(hour_df['Date'] >= current_hour_start) & (hour_df['Date'] < current_hour_start + dt.timedelta(hours=1))]


def calculate_metrics(df):
    """Clean function to calculate all metrics"""
    df = df.sort_values(['Stock', 'Date']).copy()
    
    # Basic calculations
    df['Daily_Change'] = ((df['Close'] - df['Open']) / df['Open']) * 100
    df['Daily_Range'] = ((df['High'] - df['Low']) / df['Open']) * 100
    
    # Returns and volatility
    df['Daily_Return'] = df.groupby('Stock')['Close'].pct_change() * 100
    df['Volatility_20d'] = df.groupby('Stock')['Daily_Return'].transform(
        lambda x: x.rolling(20, min_periods=5).std()
    )
    
    return df

day_df = calculate_metrics(day_df)
hour_df = calculate_metrics(hour_df)

Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done
Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done

In [20]:
day_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
0,AAPL,2025-08-18 09:30:00-04:00,231.779999,233.119995,230.610001,230.660004,9348530,-0.483215,1.082921,NaN,NaN
1,AAPL,2025-08-18 10:30:00-04:00,230.619995,231.220001,230.369995,230.860001,4699541,0.104070,0.368574,0.086706,NaN
2,AAPL,2025-08-18 11:30:00-04:00,230.865005,231.100006,230.500000,230.679993,2959031,-0.080139,0.259895,-0.077973,NaN
3,AAPL,2025-08-18 12:30:00-04:00,230.679993,231.149994,230.110001,231.070007,2944837,0.169072,0.450838,0.169072,NaN
4,AAPL,2025-08-18 13:30:00-04:00,231.080002,231.669998,230.899994,231.145004,3270491,0.028130,0.333220,0.032456,NaN
...,...,...,...,...,...,...,...,...,...,...,...
65,UBER,2025-08-18 11:30:00-04:00,93.019997,93.588799,92.917397,93.570000,1318916,0.591274,0.721782,0.591274,NaN
66,UBER,2025-08-18 12:30:00-04:00,93.578499,93.930000,93.320000,93.910004,1541456,0.354253,0.651860,0.363369,NaN
67,UBER,2025-08-18 13:30:00-04:00,93.910004,94.400002,93.709999,94.046204,2334335,0.145032,0.734749,0.145032,NaN
68,UBER,2025-08-18 14:30:00-04:00,94.029999,94.139999,93.860100,94.040001,1792617,0.010637,0.297671,-0.006595,0.256785
69,UBER,2025-08-18 15:30:00-04:00,94.050003,94.065002,93.739998,93.964996,1983273,-0.090385,0.345566,-0.079758,0.259979

In [22]:
hour_df

Empty DataFrame
Columns: [Stock, Date, Open, High, Low, Close, Volume, Daily_Change, Daily_Range, Daily_Return, Volatility_20d]
Index: []

## Summary: 

* **stock_df**: Gets historical data, to be run only once for the max daily period of the stocks. 
* **day_df**: Gets the hourly data from opening to close of the markets, to be run N hours of the day. In the last hour it must load the closing values to the historical to add the day. 
* **hour_df**: Filters today to get the last hour and get 5 minute intervals.

In [23]:
## How to integrate each into a script, this is what is to be figured out now.