# Trying out YF and boceteando cosas
## DAOA - 12/08/2025

In [26]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt

In [2]:
big_tech = {
    "AAPL": "Apple Inc.",
    "MSFT": "Microsoft Corporation", 
    "GOOGL": "Alphabet Inc. (Google) - Class A",
    "GOOG": "Alphabet Inc. (Google) - Class C",
    "TSLA": "Tesla Inc.",
    "AMZN": "Amazon.com Inc.",
    "META": "Meta Platforms Inc. (Facebook)",
    "NVDA": "NVIDIA Corporation", 
    "PYPL": "PayPal Holdings",
    "UBER": "Uber Technologies",
    "NFLX": "Netflix Inc.",
    "ORCL": "Oracle Corporation",
    "CRM": "Salesforce Inc.",
    "ADBE": "Adobe Inc.",
    "INTC": "Intel Corporation",
    "AMD": "Advanced Micro Devices",
    "CSCO": "Cisco Systems Inc.",
    "IBM": "International Business Machines",
    "QCOM": "QUALCOMM Incorporated",
    "TXN": "Texas Instruments",
    "AVGO": "Broadcom Inc.",
    "NOW": "ServiceNow Inc."
}

In [3]:
## My Ideas

stock_df = pd.DataFrame()

for i in big_tech.keys():
    tmp_ticker = yf.Ticker(i)
    tmp_hist = tmp_ticker.history(period='max', interval='1d')
    tmp_df = pd.DataFrame({'Stock': np.repeat(i, len(tmp_hist)), 
    'Open': tmp_hist['Open'], 
    'Close': tmp_hist['Close'], 
    'Volume': tmp_hist['Volume']
    })

    stock_df = pd.concat([stock_df, tmp_df], ignore_index=True) 
    

stock_df['Change'] = ((stock_df['Open'] - stock_df['Close'])/stock_df['Open']) * 100
stock_df['Volatility'] = (stock_df['Change'] / stock_df['Volume'])

In [4]:
stock_df['Change'] = ((stock_df['Open'] - stock_df['Close'])/stock_df['Open']) * 100
stock_df['Volatility'] = (stock_df['Change'] / stock_df['Volume'])

In [5]:
stock_df

       Stock        Open       Close     Volume    Change    Volatility
0       AAPL    0.098485    0.098485  469033600  0.000000  0.000000e+00
1       AAPL    0.093775    0.093347  175884800  0.456594  2.595984e-09
2       AAPL    0.086924    0.086495  105728000  0.492577  4.658909e-09
3       AAPL    0.088636    0.088636   86441600  0.000000  0.000000e+00
4       AAPL    0.091206    0.091206   73449600  0.000000  0.000000e+00
...      ...         ...         ...        ...       ...           ...
164740   NOW  911.599976  912.309998    1068600 -0.077887 -7.288738e-08
164741   NOW  922.000000  874.119995    2798700  5.193059  1.855525e-06
164742   NOW  878.390015  872.510010    1902800  0.669407  3.518011e-07
164743   NOW  867.919983  856.369995    2368900  1.330766  5.617656e-07
164744   NOW  857.809998  851.000000    1883491  0.793882  4.214949e-07

[164745 rows x 6 columns]

In [6]:
# Claude's ideas:
stock_df = pd.DataFrame()

for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    hist = ticker.history(period='max', interval='1d')
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    stock_df = pd.concat([stock_df, tmp_df], ignore_index=True)

# Better calculations
stock_df['Daily_Change'] = ((stock_df['Close'] - stock_df['Open']) / stock_df['Open']) * 100
stock_df['Daily_Range'] = ((stock_df['High'] - stock_df['Low']) / stock_df['Open']) * 100
print('Done')

Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done

In [7]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449
...,...,...,...,...,...,...,...,...,...
164739,NOW,2025-08-06 00:00:00-04:00,911.599976,913.049988,902.830017,912.309998,1068600,0.077887,1.121103
164740,NOW,2025-08-07 00:00:00-04:00,922.000000,922.890015,862.000000,874.119995,2798700,-5.193059,6.604123
164741,NOW,2025-08-08 00:00:00-04:00,878.390015,882.000000,862.140015,872.510010,1902800,-0.669407,2.260953
164742,NOW,2025-08-11 00:00:00-04:00,867.919983,879.979980,850.900024,856.369995,2368900,-1.330766,3.350534
164743,NOW,2025-08-12 00:00:00-04:00,857.809998,858.000000,840.030029,851.000000,1883800,-0.793882,2.094866

In [8]:
stock_df.isnull().sum()

Stock           0
Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Daily_Change    0
Daily_Range     0
dtype: int64

In [9]:
null_summary = stock_df.groupby('Stock')[['Date','Open', 'High', 'Low', 'Close', 'Volume', 'Daily_Change', 'Daily_Range']].apply(lambda x: x.isnull().sum())
print("\nNull counts by stock (clean):")
print(null_summary)

Null counts by stock (clean):
       Date  Open  High  Low  Close  Volume  Daily_Change  Daily_Range
Stock
AAPL      0     0     0    0      0       0             0            0
ADBE      0     0     0    0      0       0             0            0
AMD       0     0     0    0      0       0             0            0
AMZN      0     0     0    0      0       0             0            0
AVGO      0     0     0    0      0       0             0            0
CRM       0     0     0    0      0       0             0            0
CSCO      0     0     0    0      0       0             0            0
GOOG      0     0     0    0      0       0             0            0
GOOGL     0     0     0    0      0       0             0            0
IBM       0     0     0    0      0       0             0            0
INTC      0     0     0    0      0       0             0            0
META      0     0     0    0      0       0             0            0
MSFT      0     0     0    0      0       0             0            0
NFLX      0     0     0    0      0       0             0            0
NOW       0     0     0    0      0       0             0            0
NVDA      0     0     0    0      0       0             0            0
ORCL      0     0     0    0      0       0             0            0
PYPL      0     0     0    0      0       0             0            0
QCOM      0     0     0    0      0       0             0            0
TSLA      0     0     0    0      0       0             0            0
TXN       0     0     0    0      0       0             0            0
UBER      0     0     0    0      0       0             0            0

In [13]:
## Checking empty dates
test_date = aapl_ticker.history(period = 'max', interval = '1d')

In [14]:
test_date[test_date.index.isnull()]
# Fixed

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [17]:
# Calculate rolling volatility (standard approach), CLAUDE 20 day volatility
stock_df = stock_df.sort_values(['Stock', 'Date'])

In [18]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758,NaN
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594,-5.217100
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577,-7.339786
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066,2.475129
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449,2.899226
...,...,...,...,...,...,...,...,...,...,...
56772,UBER,2025-08-06 00:00:00-04:00,90.949997,90.959999,86.300003,89.220001,40169800,-1.902139,5.123690,-0.190176
56773,UBER,2025-08-07 00:00:00-04:00,90.720001,92.739998,89.160004,92.669998,28522200,2.149468,3.946202,3.866843
56774,UBER,2025-08-08 00:00:00-04:00,92.959999,94.309998,88.910004,89.559998,26212500,-3.657489,5.808944,-3.355995
56775,UBER,2025-08-11 00:00:00-04:00,89.809998,91.430000,88.919998,90.580002,16659600,0.857370,2.794791,1.138906
56776,UBER,2025-08-12 00:00:00-04:00,91.190002,92.555000,91.139999,91.980003,7890465,0.866324,1.551706,1.545597

In [19]:

stock_df['Daily_Return'] = stock_df.groupby('Stock')['Close'].pct_change() * 100

In [21]:
# Then calculate rolling volatility using transform
stock_df['Volatility_20d'] = stock_df.groupby('Stock')['Daily_Return'].transform(
    lambda x: x.rolling(window=20, min_periods=5).std()
)

In [22]:
stock_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
0,AAPL,1980-12-12 00:00:00-05:00,0.098485,0.098913,0.098485,0.098485,469033600,0.000000,0.434758,NaN,NaN
1,AAPL,1980-12-15 00:00:00-05:00,0.093775,0.093775,0.093347,0.093347,175884800,-0.456594,0.456594,-5.217100,NaN
2,AAPL,1980-12-16 00:00:00-05:00,0.086924,0.086924,0.086495,0.086495,105728000,-0.492577,0.492577,-7.339786,NaN
3,AAPL,1980-12-17 00:00:00-05:00,0.088636,0.089064,0.088636,0.088636,86441600,0.000000,0.483066,2.475129,NaN
4,AAPL,1980-12-18 00:00:00-05:00,0.091206,0.091634,0.091206,0.091206,73449600,0.000000,0.469449,2.899226,NaN
...,...,...,...,...,...,...,...,...,...,...,...
56772,UBER,2025-08-06 00:00:00-04:00,90.949997,90.959999,86.300003,89.220001,40169800,-1.902139,5.123690,-0.190176,1.329548
56773,UBER,2025-08-07 00:00:00-04:00,90.720001,92.739998,89.160004,92.669998,28522200,2.149468,3.946202,3.866843,1.635808
56774,UBER,2025-08-08 00:00:00-04:00,92.959999,94.309998,88.910004,89.559998,26212500,-3.657489,5.808944,-3.355995,1.775399
56775,UBER,2025-08-11 00:00:00-04:00,89.809998,91.430000,88.919998,90.580002,16659600,0.857370,2.794791,1.138906,1.776623
56776,UBER,2025-08-12 00:00:00-04:00,91.190002,92.555000,91.139999,91.980003,7890465,0.866324,1.551706,1.545597,1.772567

In [27]:
# Now hourly data
day_df = pd.DataFrame()
hour_df = pd.DataFrame()


for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    hist = ticker.history(period='1d',  interval="60m")
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    day_df = pd.concat([day_df, tmp_df], ignore_index=True)
print('Done')


for symbol in big_tech.keys():
    print(f"Fetching {symbol}...")
    ticker = yf.Ticker(symbol)
    hist = ticker.history(period='1d',  interval="5m")
    
    # Create DataFrame with date as a column
    tmp_df = pd.DataFrame({
        'Stock': symbol,
        'Date': hist.index,  # ← This was missing!
        'Open': hist['Open'],
        'High': hist['High'],    # ← Add this for better analysis
        'Low': hist['Low'],      # ← Add this too
        'Close': hist['Close'],
        'Volume': hist['Volume']
    })
    
    hour_df = pd.concat([hour_df, tmp_df], ignore_index=True)
print('Done')

now = dt.datetime.now(dt.timezone(dt.timedelta(hours=-4)))  # Adjust for your timezone if you want
current_hour_start = now.replace(minute=0, second=0, microsecond=0)
hour_df = hour_df[(hour_df['Date'] >= current_hour_start) & (hour_df['Date'] < current_hour_start + dt.timedelta(hours=1))]


def calculate_metrics(df):
    """Clean function to calculate all metrics"""
    df = df.sort_values(['Stock', 'Date']).copy()
    
    # Basic calculations
    df['Daily_Change'] = ((df['Close'] - df['Open']) / df['Open']) * 100
    df['Daily_Range'] = ((df['High'] - df['Low']) / df['Open']) * 100
    
    # Returns and volatility
    df['Daily_Return'] = df.groupby('Stock')['Close'].pct_change() * 100
    df['Volatility_20d'] = df.groupby('Stock')['Daily_Return'].transform(
        lambda x: x.rolling(20, min_periods=5).std()
    )
    
    return df

day_df = calculate_metrics(day_df)
hour_df = calculate_metrics(hour_df)

Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done
Fetching AAPL...
Fetching MSFT...
Fetching GOOGL...
Fetching GOOG...
Fetching TSLA...
Fetching AMZN...
Fetching META...
Fetching NVDA...
Fetching PYPL...
Fetching UBER...
Fetching NFLX...
Fetching ORCL...
Fetching CRM...
Fetching ADBE...
Fetching INTC...
Fetching AMD...
Fetching CSCO...
Fetching IBM...
Fetching QCOM...
Fetching TXN...
Fetching AVGO...
Fetching NOW...
Done

In [28]:
day_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
0,AAPL,2025-08-12 09:30:00-04:00,228.005005,229.939896,227.100006,228.570007,12571415,0.247803,1.245538,NaN,NaN
1,AAPL,2025-08-12 10:30:00-04:00,228.589996,230.586502,228.259995,229.729996,10092499,0.498709,1.017764,0.507498,NaN
2,AAPL,2025-08-12 11:30:00-04:00,229.729904,230.110001,228.320007,229.779999,4868374,0.021806,0.779173,0.021766,NaN
3,AAPL,2025-08-12 12:30:00-04:00,229.779999,230.779999,229.660004,229.774994,5072601,-0.002178,0.487421,-0.002178,NaN
4,AAPL,2025-08-12 13:30:00-04:00,229.770096,230.550003,229.449997,229.570007,3593400,-0.087082,0.478742,-0.089212,NaN
...,...,...,...,...,...,...,...,...,...,...,...
55,UBER,2025-08-12 10:30:00-04:00,91.879997,92.305000,91.684998,91.769997,1684003,-0.119722,0.674796,-0.119722,NaN
56,UBER,2025-08-12 11:30:00-04:00,91.769997,92.364998,91.610001,92.285004,1406935,0.561193,0.822706,0.561193,NaN
57,UBER,2025-08-12 12:30:00-04:00,92.290001,92.330002,91.730003,92.279999,1111860,-0.010838,0.650123,-0.005423,NaN
58,UBER,2025-08-12 13:30:00-04:00,92.290001,92.480003,91.989998,92.050003,910153,-0.260048,0.530941,-0.249237,NaN
59,UBER,2025-08-12 14:30:00-04:00,92.059998,92.160004,91.870003,91.930000,492917,-0.141209,0.315013,-0.130367,0.319287

In [29]:
hour_df

,Stock,Date,Open,High,Low,Close,Volume,Daily_Change,Daily_Range,Daily_Return,Volatility_20d
54,AAPL,2025-08-12 14:00:00-04:00,229.946198,230.109695,229.869995,229.910004,199576,-0.015740,0.104242,NaN,NaN
55,AAPL,2025-08-12 14:05:00-04:00,229.899994,230.029999,229.720001,229.770004,229504,-0.056542,0.134840,-0.060893,NaN
56,AAPL,2025-08-12 14:10:00-04:00,229.770004,229.800003,229.559998,229.669998,253071,-0.043524,0.104455,-0.043524,NaN
57,AAPL,2025-08-12 14:15:00-04:00,229.660004,229.750000,229.625000,229.721603,218102,0.026822,0.054428,0.022469,NaN
58,AAPL,2025-08-12 14:20:00-04:00,229.715698,229.794998,229.449997,229.660995,327741,-0.023813,0.150186,-0.026383,NaN
...,...,...,...,...,...,...,...,...,...,...,...
655,UBER,2025-08-12 14:35:00-04:00,91.904999,92.004997,91.904999,91.974998,71976,0.076165,0.108806,0.070716,0.081646
656,UBER,2025-08-12 14:40:00-04:00,91.980003,92.029999,91.974998,92.000000,49817,0.021740,0.059796,0.027183,0.078126
657,UBER,2025-08-12 14:45:00-04:00,92.000000,92.110001,91.949997,91.964500,131748,-0.038586,0.173917,-0.038586,0.073297
658,UBER,2025-08-12 14:50:00-04:00,91.959999,92.160004,91.959999,92.019997,89863,0.065243,0.217491,0.060345,0.074025
659,UBER,2025-08-12 14:55:00-04:00,92.026001,92.026001,91.930000,91.930000,46972,-0.104319,0.104319,-0.097801,0.074514